__pycache__/
.ipynb_checkpoints/
*.egg-info/
experiments/logs/*
experiments/logs*/*
experiments/*logs/*
*/data/*
data/*
*/plots/*
build/
.vscode/
.devcontainer/
.hypothesis/
spin_up_containers.sh
hf/*
hfcache/*
**/checkpoints/**
**/wandb/**
install.sh
install_transformers.sh